body{
  margin: 0;
  padding: 0;
}
.cabecalho{
  background: lightpink;
  width: 100vw;
  height: 15vw;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  position: fixed; 
  z-index: 9;
}

.nomeloja{
  text-align: center;
  width: 100%;
  background: re;
  font-size: 12vw;
  font-family: 'Sacramento';
  position: absolute;
  top: -12vw;
  font-weight: normal;
  text-shadow: ;
  color: lightgoldenrodyellow;
}
#check-menu{
  display: none;
}
.lab-menu{
  background: pink;
  width: 10vw;
  height: 10vw;
  position: fixed;
  margin: 5vw;
  top: -2.5vw;
  right: -2.5vw;
  z-index: 9;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}
.lab-menu:hover{
  background: lightgoldenrodyellow;
}
.lab-fechar{
  background: white;
  width: 8vw;
  height: 8vw;
  position: absolute;
  margin: 1vw 1vw;
  z-index: 9;
  right: 0;
  display: none;
}
.nav-menu{
  background: pink;
  width: 99vw;
  height: 33vw;
  position: fixed;
  left: .5vw;
  top: -40vw;
  z-index: 8;
  transition: .4s;
  box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}
.ul-menu{
  width: 100%;
  height: 90%;
  list-style: none;
  padding-left: 0;
  position: relative;
  
}
.li-menu{
  background: ;
  padding: 3vw;
  font-family: roboto;
  font-weight: normal;
  text-align: center;
  color: lightgoldenrodyellow;
  font-size: 7vw;
  border-bottom: 2px solid whit;
}
.li-menu:hover{
  background: lightgoldenrodyellow;
  color: lightpink;
  transition: .4s;
}
#check-menu:checked~.nav-menu{
  top: 15vw;
  transition: .4s;
}
#check-menu:checked~.lab-fechar{
  display: block;
  top: 5vw;
  right: 5vw;
}
#check-fechar:checked~.nav-menu{
  top: -50vw;
}
#check-fechar:checked~#lab-menu{
  background: blue;
}
.logo{
  background: lightgrey;
  width: 20vw;
  height: 100%;
}
.banner{
  background: transparent;
  width: 100vw;
  height: 120vw;
  position: relative;
  top: 15vw;
  filter: grayscale(50%);
}
.titulo{
  position: absolute;
  font-family: 'sacramento';
  font-size: 14vw;
  color: lightgoldenrodyellow;
  width: 100vw;
  text-align: center;
  top: 0vw;
  background: rgba(0,0,0,.5);
  padding: 25vw 0 25vw 0;
}
.p-span{
  font-size: 16vw;
  text-align: center;
  position: absolute;
  width: 100vw;
  top: 20vw;
  z-index: 9;
  text-shadow: 0 0 20px lightpink;
}
.destaques{
  width: 98%;
  height: 65vw;
  margin-top: 2vw;
  margin-left: 1vw;
}
.div-destaques{
  width: 300vw;
  height: 65vw;
   animation-name: anima-dest;
   animation-duration: 15s;
   animation-iteration-count: infinite;
}
.img-dest{
  width: 100vw;
  height: 100%;
  float: left;
  border-radius: 1.5vw;
  margin: px;
  z-index: 9;
}
@keyframes anima-dest{
  25%{
    transform: translateX(0);
  }
  35%{
    transform: translateX(-100vw);
  }
  50%{
    transform: translateX(-100vw);
  }
  65%{
    transform: translateX(-200vw);
  }
  75%{
    transform: translateX(-200vw);
    
  }
  85%{
    transform: translate(-100vw);
  }
  100%{
    margin-left: 0;
    
  }
}
.conteudo{
  background: orangered;
  width: 100vw;
  height: 2450vw;
  margin-top: -12vw;
}
.card{
  background: lightgoldenrodyellow;
  width: 46vw;
  height: 70vw;
  float: left;
  margin: 2vw;
  margin-bottom: 11vw;
  position: relative;
  border-radius: 4px;
}
.btn-ver:hover~ .img-card{
  width: 100vw;
  height: 110vw;
  left: 0;
  top: 15vw;
  position: fixed;
  z-index: 3;
  transition: .4s;
  border-bottom: 100vw solid rgba(0,0,0,.8);
}

.img-card{
  width: 46vw;
  height: 46vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}
.card:hover .descricao{
  margin-top: 101%;
  transition: .5s;
  z-index: 1;
}
.descricao{
  background: lightpink;
  width: 100%;
  height: 45%;
  position: absolute;
  border-radius: 5px;
  font-size: 3.5vw;
  font-family: 'roboto';
  text-align: center;
  line-height: 22px;
  padding-top: 3vw;
}

.btn-ver{
  position: absolute; 
  top: 72vw;
  right: 19vw;
  display: none;
  width: 10vw;
  height: 8vw;
  border: none;
  border-radius: 5px;
  font-size: 4vw;
  box-shadow: 1px 1px 3px rgba(0,0,0,.5);
  background: lightgoldenrodyellow;
}

.card:hover .btn-ver{
  display: block;
  z-index: 3;
  transition: .4s;
}
.card:hover~ .btn-ver{
  color: red;
}
.btn-ver:hover~ .button-pedir{
  position: fixed;
  top: 145vw;
  left: 38vw;
  display: block;
}
.button-pedir {
  background: lightpink;
  width: 25vw;
  height: 10vw;
  color: lightgoldenrodyellow;
  text-align: center;
  z-index: 9;
  position: relative;
  top: 100vw;
  left: 10vw;
  display: none;
  font-size: 5vw;
  border: 3px solid lightgoldenrodyellow;
}
.nome-produto{
  width: 100%;
  text-align: center;
  margin-top: 55vw;
  font-weight: bold;
}
.preco{
  background: lightpink;
  width: 100%;
  height: 15%;
  margin-top: 16vw;
  position: absolute;
  top: 54.5vw;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 7vw;
  font-family: 'arial';
  line-height: 12vw;
  box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}
.h2-h2{
  position: relative;
  top: 8vw;
  left: 3vw;
  background: ;
  width: 90%;
  font-family: 'sacramento';
  
}
.h3-h3{
  position: relative;
  top: 0vw;
  left: 3vw;
  font-size: 3.5vw;
  background: ;
  width: 90%;
}
#h2-2{
  top: -4vw;
  font-family: 'Sacramento';
}
#h3-3{
  top: -12vw;
}
h2{
  font-family: courier;
  font-size: 10vw;
  font-weight: normal;
  color: ;
  position: absolut;
  text-align: center;
  background: lightgoldenrodyellow;
}
h3{
  font-family: courier;
  color: lightgoldenrodyellow;
  font-family: roboto;
  font-weight: normal;
  text-align: center;
  background: lightpink;
  width: 100vw;
  margin:auto;
}
.contato{
  background: lightgoldenrodyellow;
  width: 100vw;
  height: 20vw;
  border-top: 1vw solid lightgoldenrodyellow;
  position: relative;
  
}
.a-contato{
  color: black;
  text-align: center;
  text-decoration: none;
  width: 100vw;
  background: ;
  position: absolute;
  font-size: 7vw;
  font-family: arial;
  color: lightpink;
  left: 0;
}
.rodape{
  background: lightpink;
  width: 100vw;
  height: 30vw;
}
.redes{
  background: whit;
  border-radius: 50px;
  width: 50%;
  height: 15vw;
  margin: auto;
  top: 5vw;
  position: relative;
  
}
.icone{
  background: lightgoldenrodyellow;
  width: 10vw;
  height: 10vw;
  border-radius: 10vw;
  margin-left: 20%;
  margin-top: 5%;
  float: left;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,.5);
  transition: .2s;
}
.icone:hover{
  transform: scale(1.1);
  transition: .2s;
}

.img-icone{
  width: 100%;
  height: 100%;
  border-radius: 10vw;
}
.copy{
  width: 100%;
  text-align: center;
  font-size: 2.8vw;
  position: relative;
  top: 20%;
  font-weight: bold;
  color:  lightgoldenrodyellow;
  font-family: 'roboto';
}

@media screen and (max-width: 320px){
  .nav-menu{
    top: -80vw;
    height: 50vw;
  }
  .conteudo{
    width: 100vw;
    height: 6700vw;
    background: ;
  }
  .card{
    width: 98vw;
    height: 100vw;
    bottom: 10vw;
  }
  .img-card:hover{
    /*top: -5vw;*/
  }
  .descricao{
    height: 40vw;
    font-size: 6.5vw;
   line-height: 20px;
  }
  .card:hover .descricao{
    top: 67%;

  }
  .preco{
    line-height: 10vw;
    top: 68vw;
  }
  .btn-ver{
    background: ;
    margin-left: 25vw;
    margin-top: 41vw;
    right: 2vw;
    transform: scale(1.5);
  }
  .card:hover .button-pedir{
    
    transform: scale(1.3);
    right: 10vw;
  }
  .copy{
    font-size: 1vw;
  }
  .h3-h3{
    font-size: 5vw;
  }
}

@media screen and (min-width: 480px){
  .cabecalho{
    height: 8vw;
  }
  .lab-menu{
    width: 6vw;
    height: 6vw;
    margin-top: 1vw;
    margin-right: 1vw;
    position: fixed;
  }
  .nomeloja{
    top: -7vw;
    font-size: 7vw;
  }
  .nav-menu{
    width: 30vw;
    height: 26vw;
    border-radius: .5vw;
  }
  .banner{
    top: 0;
  }
  .ul-menu{
    margin-top: 1vw;
  }
  .li-menu{
    font-size: 3vw;
    padding: 15px;
  }
  #check-menu:checked~.nav-menu {
    top: 8.2vw;
  }
}
